{% extends "layout.html" %}

{% block content%}


<h3> Greetings, Nice people of internet ! </h3>
<hr>
<h5>Around the corner is just a mean to meet the people, listen their stories, asking them to spread joy, happiness and knowledge.  </br></h5>
<hr>
<h6>Truth be told, building this app wasn't difficult, as I had great instructor,
<a href="https://www.youtube.com/channel/UCCezIgC97PvUuR4_gbFUs5g">Corey Schafer</a>.</h6>

<h6>He is a YouTuber and he makes awesome tutorials. Visit the channel for learning python concepts with his exceptional ability to cultivate programming skills into newbies like me. </br></h6>

<hr>
<h6>I am Samruddh and this is my first flask web application. We shall meet again, in near future, with new tasks and endeavors.
Until then, sayonara friend ! </h6>
<hr>





{% endblock content %}